body{
    background-color: rgb(158, 231, 144);
    justify-items: center;
    justify-content: center;
    display: list-item;
    margin-left: 30%;
    margin-top: 5%;

}
.contenedorIndex{
    background-color: rgb(90, 189, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 120px;
    width: 60%;
    justify-content: center;
    justify-items: center;
    display: flex;
    border-radius: 20px;
    padding-top: 5%;
    margin-block: 3%;
}

button{
    background-color: rgb(194, 240, 185);
    height: 25px;
    margin-top: 5%;
    


}
.contBoton{
    background-color: rgb(90, 189, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 110px;
    width: 60%;
    justify-content: center;
    justify-items: center;
    border-radius: 20px; 
    display:flex;
}
.Contenedor{
    background-color: rgb(90, 189, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 400px;
    width: 60%;
    justify-content: center;
    justify-items: center;
    border-radius: 20px; 
    padding-left: 5%;
    padding-top: 6%;
    
}
.contenedorr{
    background-color: rgb(90, 189, 95);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 200px;
    width: 60%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: inline-block;
    border-radius: 20px;
    padding-top: 3%;
    padding-left: 7%;
    margin-block: 3%;
}